
<div class="col-xs-8 offset-xs-1"><h4>Search Customer <input #input placeholder="Search" id="search"></h4></div>
<div class="col-xs-3"><a [routerLink]="['/customers/new']" class="btn btn-info">New Customer</a></div>

<div class="col-xs-12">
  <div class="container">
    <div class="row" *ngFor="let customer of customers | NamePipe: input.value">
      <div class="card card-block">
        <div class="col-xs-8">
          <h4 class="card-title" *ngIf="customer.name">{{ customer.name }}, {{ customer.phone }}</h4>
          <h4 class="card-title" *ngIf="!customer.name">{{ customer.phone }}</h4>
        </div>
        <div class="col-xs-2 offset-xs-2">
          <a [routerLink]="['/customers', customer._id]" class="btn btn-warning btn-sm">Customer Info</a>
        </div>
        <div class="col-xs-12">
          <p class="card-text">{{ customer.address }}</p>
          <p class="card-text">{{ customer.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
